.c9/*
.smf/*
.pm2/*
.npm/*
.tmp/*
.templates/*
output/*
plugins/*
!plugins/Android
plugins/Android/*
!plugins/Android/README.md
!plugins/iOS
plugins/iOS/*
!plugins/iOS/README.md
images/automated/*.png
!output/Android/README.md
!output/iOS/README.md
!output/.license.xml
node_modules/
scripts/ui
scripts/themes
scripts/generated
.DS_Store
/packages
dist
.theia/compiler_status.json
