<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708064890221-5obkr9uqfsbpjnjnj6mi2g83p6s9qhjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708064890221-5obkr9uqfsbpjnjnj6mi2g83p6s9qhjh</string>
	<key>API_KEY</key>
	<string>AIzaSyCqo37wZO6UqSUmWpmRDxuiJvHbHbAyT34</string>
	<key>GCM_SENDER_ID</key>
	<string>708064890221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.smartface.push.sample</string>
	<key>PROJECT_ID</key>
	<string>push-sample-smartface</string>
	<key>STORAGE_BUCKET</key>
	<string>push-sample-smartface.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708064890221:ios:84134c7247dc9c56231e64</string>
</dict>
</plist>